@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Love+Ya+Like+A+Sister&family=Slabo+13px&display=swap');

:root {
    --bg-color: #171616;
    --primary-color: #faf0ca;
    --text-color: #000;
    --secondary-color: #d75420;
    --accent-1: #4f9f91;
    --accent-2: #171616;
    --accent-3: #e5b329;
    --stripe-1: #202626;
    --stripe-2: #1e2323;
    
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--bg-color);
    background: repeating-linear-gradient(
  45deg,
  var(--stripe-1),
  var(--stripe-1) 30px,
  var(--stripe-2) 30px,
  var(--stripe-2) 60px
);
}

body{
    margin: auto;
    background-color: var(--primary-color);
    color:  var(--text-color);
    max-width: 800px;
    font-family: "Slabo 13px", serif;
    font-weight: 600;
    font-style: normal;
}

.flex{
    display: flex;
}

.header{
    padding: 1rem;
}

.title{
    color: var(--secondary-color);
}

.about > *, .hero {
    padding: 2rem 20%;
}

h1, h2{
    margin-bottom: 0.5rem;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-size: larger;
}

ul, p{
    list-style-type: square;
    margin: 1rem;
}

.socials{
    list-style-type: none;
    flex-direction: row;
    gap: 2rem;
}

.center{
    justify-content: center;
}

.contact{
    margin-top: 1rem;
    text-align: center;
    flex-direction: column;
}

.grow:hover{
    transform: scale(1.08) rotate(5deg);
    transition: all 275ms ease-in-out
}

.skills-hobbies{
    color: var(--primary-color);
    background-color: var(--accent-1);
}

.background{
    flex-direction: column;
    background-color: var(--bg-color);
}

.background > h1{
    font-size: 3rem;
    color: var(--primary-color);
    text-shadow: 6px 3px var(--secondary-color);
}

.card{
    color: var(--text-color);
    padding: 1.6rem;
    background-color: var(--primary-color);
}

.work{
    transform: rotate(.5deg);
}

.s-edu{
    transform: rotate(-.6deg);
}

.hs-edu{
    transform: rotate(.7deg);
}

.special{
    color: var(--accent-2);
    transform: translate(-20px, 30px);
    width: fit-content;
    padding: 1rem 1.6rem;
    background-color: var(--accent-3);
    border: 5px solid var(--accent-2);
}

.employment{
    background-color: var(--secondary-color);
}

.highsec{
    background-color: var(--accent-1);
}

.hey{
    padding: 0.5rem 0.7rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    transform: rotate(-3deg);
    /* transform: translate(-20px, -20px); */
}